@import './global/color-variables';
@import './global/common-styles';
.ui{
    &.celled{
        &.header{
            margin-top: 0;
            img{
                display: inline-block;
                margin-right: 8px;
            }
            p{
                display: inline-block;
            &.promo{
                color: $promo-color;
            }
                
            }
        }
    }
}